@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,400');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins' , sans-serif;
  box-sizing: border-box;
}
:root{
  --main-color: #fa1c1c;
  --hover-color: hsl(37, 94%, 57);
  --body-color: #1e1e2a;
  --container-color: #2d2e37;
  --text-color: #fcfeff;
}
html{
  scroll-behavior: smooth;
}
a{
  list-style: none;
  text-decoration: none;
}
body{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0,0,0,0.8)),url(/img/bg-2.jpg);
  background-position: center;
  background-size: cover;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background: var(--body-color); */
  z-index: 100;
}

/* 14th code goes here, styling the nav from (nav container) */
.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

/* 15th code goes here, styling the logo */
.logo{
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}
.logo span{
  color: var(--main-color);
}

/* 16th code goes here, styling the search-box */
.search-box{
  max-width: 240px;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  padding: 8px 15px;
  background: var(--container-color);
  border-radius: 4rem;
  margin-right: 1rem; 
}

/* 17th code goes here, styling the input area of search box */
.bx{
  cursor: pointer;
}
.search-box .bx{
  font-size: 1.1rem;
}
.search-box .bx:hover{
  color: var(--main-color);
}
#search-input{
  width: 100%;
  border: none;
  outline: none;
  color: var(--text-color);
  background: transparent;
  font-size: 0.938rem;
}

/* 18th code goes here, styling the user-img */
.user{
  display: flex;
}
.user-img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}

/* 13th code goes here, styling the navbar */
.navbar {
  position: fixed;
  top: 59%;
  transform: translateY(-50%);
  left: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 2.1rem;
}

/* 14th code goes here, styling the nav-links */
.nav-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b7b7b7;
}
.nav-links:hover, 
.nav-active{ /*<-- 16th adding the .nav-active class*/
  color: var(--text-color);
  transition: 0.3s all linear;
  transform: scale(1.1);
}
/* 17th code goes here */
.nav-links .bx{
  font-size: 1.9rem;
  color: white;
}
.nav-link-title{
  font-style: 0.7rem;
  color: white;
}


/* --Creating the class for change of background for all indivisual links-- */
.nav-links2 .bx{
  transition: all 0.5s ease-in;
  font-size: 1.9rem;
  color: rgb(255, 255, 255);
}
.nav-links2 .nav-link-title{
  transition: all 0.5s ease-in;
  color: rgb(255, 255, 255);
}

.nav-links3 .bx{
  transition: all 0.5s ease-in;
  font-size: 1.9rem;
  color: rgb(255, 255, 255);
}
.nav-links3 .nav-link-title{
  transition: all 0.5s ease-in;
  color: rgb(255, 255, 255);
}

.nav-links4 .bx{
  transition: all 0.5s ease-in;
  font-size: 1.9rem;
  color: rgb(255, 255, 255);
}
.nav-links4 .nav-link-title{
  transition: all 0.5s ease-in;
  color: rgb(255, 255, 255);
}

.nav-links5 .bx{
  transition: all 0.5s ease-in;
  font-size: 1.9rem;
  color: rgb(255, 255, 255);
}
.nav-links5 .nav-link-title{
  transition: all 0.5s ease-in;
  color: rgb(255, 255, 255);
}

.nav-links6 .bx{
  transition: all 0.5s ease-in;
  font-size: 1.9rem;
  color: rgb(255, 255, 255);
}
.nav-links6 .nav-link-title{
  transition: all 0.5s ease-in;
  color: rgb(255, 255, 255);
}
.logo{
  margin-top: 18px;
  color: #fff;
}

.header{
  height: 10%;
}

.header-btn{
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 10px;
  float: right;
  margin-top: -45px;
  color: #000000;
  font-weight: 600;
  background: #d6b72b;
}

.movie-details{
  margin: 15% 0;
}

.left-box{
  color: #fff;
  margin: 15px 0;
  padding: 20px;
}

.left-box a{
  text-decoration: none;
  border-radius: 30px;
  padding: 7px 10px;
  margin-top: 35px;
  color: #000000;
  font-weight: 600;
  background: #d6b72b; 
  display: inline-block;
  margin-right: 10px;
}

.trailer-btn{
  border: 1px solid #000000;
  background: transparent;
}

.fa-solid{
  margin: 0 5px;
}

.fa{
  margin: 0 5px;
}

.movie-img{
  height: 500px;
  margin: -50px 0px 0px 50px;
  border-radius: 5%;
  box-shadow: -4px 4px 5px 0 #000;
  transition: 1s;
}

.movie-img:hover{
  transform: translateY(-5px);
}

.movie-title{
  height: 50px;
  font-size: 55px;
  font-weight: 700;
  margin: 0px 0px 122px;
  color: orange;
}
.book-btn{
  transition: 0.5s all ease-in;
}
.book-btn:hover{
  background-color: orangered;
}
.trailer-btn{
  transition: 0.5s all ease-in;
}
.trailer-btn:hover{
  background-color: orangered;
}
@media only screen and (max-width: 650px){
  .movie-details{
    margin: 161px 0;
  }
  .movie-img{
    height: 500px;
    margin: -50px 0px 0px 25px;
    border-radius: 5%;
    box-shadow: -4px 4px 5px 0 #000;
    transition: 1s;
  }
  .movie-title{
    font-size: 45px;
  }

}
@media (max-width: 1170px) {
  .navbar{
      bottom: 0;
      left: 0;
      right: 0;
      top: auto;
      transform: translateY(0);
      flex-direction: revert;
      justify-content: space-evenly;
      row-gap: 1px;
      padding: 10px;
      border-top: 1px solid hsl(200 100% 99% / 5%);
      background: linear-gradient(8deg, hsl(240 17% 14% / 100%) 5%, hsl(240 17% 14% / 90%) 100%);
  }
  .nav-link .bx{
      font-size: 1.5rem;
  }
  .copyright{
      margin-bottom: 4rem;
  }
}
